* {
  box-sizing: border-box;
}

body {
  color: #222;
}

img {
  max-width: 100%;
}

main{
  padding:10px;
  max-width: 960px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
}


header a.login{
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #0d7fca; /* Button color */
  border: 2px solid #ffffff; /* Border color */
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

header a.login:hover{
  background-color: #0a4267;
}

header a.register{
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #646464; /* Button color */
  border: 2px solid #ffffff; /* Border color */
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

header a.register:hover{
  background-color: #383838;
}


header a.logo{
  font-weight: bold;
  font-size: 1.8rem;
}

header a.create-post{
  display: inline-block;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  background-color: #646464; /* Button color */
  border: 2px solid #ffffff; /* Border color */
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

header a.create-post:hover{
  background-color: #2c2c2c;
}

header nav {
  display: flex;
  text-align: center;
  gap: 20px;
}

header nav button.logout{
  background-color: #d9534f;
  color: #ffffff;
  padding: 8px 0px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

header nav button.logout:hover{
  background-color: #8d1414;

}

div.post{
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-bottom: 60px;
}

@media screen and (min-width:700px) {
  div.post{
    grid-template-columns: 0.9fr 1.1fr;
  }

}

div.post div.texts h2{
  margin: 0;
  font-size: 1.8rem;
}

div.post div.texts a{
  text-decoration: none;
  color: inherit;
}

div.post p.info{
  margin:6px 0;
  color: #888;
  font-size: .7rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

div.post p.info a.author{
  color: #333;

}

div.post p.summary {
  margin: 10px 0;
  line-height: 1.5rem;
}

form.login, form.register {
  max-width: 400px;
  margin: 0 auto;

}

input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px 7px;
  border: 0;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 8px;
}

button {
  width: 100%;
  display: block;
  background-color: #555;
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 8px 0;
}

form.login h1, form.register h1{
  text-align: center;
}

div.post-page div.image{
  max-height: 300px;
  display: flex;
  overflow: hidden;
}

div.post-page div.image img{
  object-fit: cover;
  object-position: center center;
  width: 100%;
}
div.post-page a{
  color:#333;
  text-decoration: underline;
}

div.post-page h1{
  text-align: center;
  margin: 10px 0 10px;
}

div.post-page time{
  text-align: center;
  display: block;
  font-size: .7rem;
  color:#888;
}

div.post-page div.author{
  text-align: center;
  margin-bottom: 30px;
  font-size: .8rem;
  color:#888;
  font-weight: bold;
}

div.post-page div.content p{
  line-height: 1.6rem;

}

div.posts-index div.welcome-text{
  border-bottom:1px solid #e1e1e1;
  margin-bottom: 40px;
  font-size: .9rem;
}


.signup-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.radio-buttons {
  display: flex;
  justify-content: center;
  gap: 10px; 
}

input[type="radio"] {
  margin-top: auto;
  margin-bottom: auto;
}

label {
  margin-top: auto;
  margin-bottom: auto;
}

label.register-as-label{
  margin-bottom: 10px;
}

div.not-logged {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 

  text-align: center;
}

button.logout-admin{
  background-color: #d9534f;
  color: #ffffff;
  padding: 20px 10px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

 button.logout-admin:hover{
  background-color: #8d1414;

}


div.admin-display p.welcome-admin-text{
  font-size: .9rem;
}


hr{
  border: 0; /* Remove the default border */
  height: 1.5px; /* Set the height of the line */
  background-color:#f4eded;
}

div.users-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid #ddd !important;
  padding: 5px;
  border-collapse: collapse; 

}

th, td {
  text-align: center; /* Centra el contenido de las celdas */
  padding: 8px; /* Opcional: para un poco de espacio interior en las celdas */
}